body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  /* Degradê: Beringela -> Roxo -> Lilás */
  background: linear-gradient(180deg, #300132 0%, #4a1569 50%, #a55cb8 100%) !important;
  background-attachment: fixed;
  color: #f1ebf2; /* Corrigi o erro que estava aqui */
  margin: 0;
  padding: 20px;
}

button {
  background-color: #4a1569 !important; 
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

h1, h2, h3, h4 {
  text-align: center;
  width: 100%;    
  margin-left: auto;
  margin-right: auto;
}


h2{
color:#a55cb8;
font-size: 40px;
}

.titulo-roxo{
color:#ae39c0;
font-size: 45px; /* Aumente este número para a letra crescer */
font-weight: bold;
}

.titulo-roxo escuro{
color:#14031c;
font-size: 45px;  
font-weight: bold;
}

.titulo-amarelo{
color:#ba700f;
font-size: 45px;
font-weight: bold;
}

section{
  max-width: 80%;       
  margin: 0 auto;       
  text-align: center;   
  padding: 20px 0;
}


section p {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

h1{
font-size: 60px;
font-weight: 300;
}

h3{
font-size:22px;
font-style: normal;
}


p{
line-height: 1.5;
font-size: 20px;
}

img {
  max-width: 400px; 
  height: auto;
  border-radius: 15px;
  margin: 20px auto;
  display: block; 
}


img {
  max-width: 400px; 
  height: auto;
  border-radius: 15px;
  margin: 20px auto;
  display: block; 
}


.foto-perfil {
  max-width: 400px;
}


.img-pequena {
  max-width: 400px;
}

ul{
list-style-type: none;
line-height: 2;
}

a{
text-decoration: none;
color: #772b81;
font-weight: 700;
}
header {
  background: rgba(255, 255, 255, 0.1); /* Um brilho suave e transparente */
  backdrop-filter: blur(10px);        /* Efeito de vidro fosco */
  padding: 20px;
  border-radius: 15px;
  margin-bottom: 30px;
}

.menu-transicao a {
  text-decoration: none;   /* Remove o sublinhado azul de link */
  padding: 15px 25px;      
  font-size: 22px;         
  font-weight: bold;
  color: #f1ebf2;          
  border: 2px solid #a55cb8; 
  border-radius: 10px;     
  background: rgba(74, 21, 105, 0.3); 
  transition: 0.3s;
  display: inline-block;    /* Garante que o tamanho e as bordas fiquem certas */
}

.menu-transicao a:hover {
  background: #a55cb8;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 0 15px #a55cb8;
}
